.single-product .product-gallery {
  width: 50%;
  padding-right: 15px;
}
.single-product .single-image-wrapper {
  overflow: hidden;
}
.single-product .single-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}
.single-product .single-image-wrapper img:hover {
  cursor: zoom-in;
}

.single-product .gallery-thumbs {
  /* display: flex;
  column-gap: 10px; */
}
.single-product .gallery-thumbs li {
  cursor: pointer;
  display: flex;
}
.single-product .gallery-thumbs li > img {
  border: 1px solid #dee0ea;
}
.single-product .gallery-thumbs li > img:hover {
  border: 1px solid #000;
}
.single-product .gallery-thumbs li > img.active {
  border: 1px solid #000;
}
.single-product .product-thumb {
  position: relative;
  margin-top: 5px;
}
.single-product .glide__arrow {
  background-color: transparent;
  position: absolute;
  top: 30%;
  font-size: 40px;
  opacity: 0.4;
}
.single-product .glide__arrow--left {
  left: -40px;
}
.single-product .glide__arrow--right {
  right: -40px;
}

@media (max-width: 768px) {
  .single-product .product-gallery {
    width: 100%;
    padding: 0;
  }
  .single-product .glide__arrow {
    top: 40%;
  }
  .single-product .glide__arrow--left {
    left: 0px;
  }
  .single-product .glide__arrow--right {
    right: 0px;
  }
}
